RABBIT_PROTOCOL=amqp
RABBIT_HOST=152.67.45.241
RABBIT_PORT=5672
RABBIT_USER=lendarios
RABBIT_PASSWD=M4n4g3R#B0t404
RABBIT_VHOST=/
RABBIT_QUEUE=tibiabot
RABBIT_USERNAME=lendarios
SERVER_API=http://144.22.138.135:3003