RABBIT_PROTOCOL=amqp
RABBIT_HOST=manager
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWD=guest
RABBIT_VHOST=/

MONGODB_HOST=manager
MONGODB_PORT=27017
MONGODB_USER=admin
MONGODB_PASSWD=Hunt3r@195
MONGODB_CLUSTER=tibiabot
MONGODB_AUTHSOURCE=admin
